# Compiled object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Logs and databases
*.log
*.sql
*.sqlite

# Backup files
*.bak
*.old
*.orig

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project

# IDE specific files
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db